<div id="listaTCursos">

    <h2>Lista de Cursos</h2>
  
    <table>
      <tr class="titulo">
        <td>ID</td>
        <td>Descrição</td>
      </tr>
      <tr *ngFor="let curso of cursos">
        <td>{{curso.id}}</td>
        <td>{{curso.nome}}</td>
        <button mat-icon-button [routerLink]="['/curso/editar', curso.id]">
          <mat-icon aria-label="Editar Curso">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="excluirCurso(curso.id)">
          <mat-icon aria-label="Excluir Curso">delete</mat-icon>
        </button>
      </tr>
    </table>
        
    <button mat-raised-button color="primary" routerLink="/curso/novo">Novo Curso</button>
        
  </div>