<mat-toolbar color="primary">
    <span>TG Frontend 2</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" routerLink="/aluno/lista">Alunos</button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" routerLink="/veiculo/lista">Veiculos</button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" routerLink="/ocorrencia/listaOcorrencia">Ocorrencias</button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" routerLink="/tipoOcorrencia/lista">Tipos de Ocorrencias</button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" routerLink="/curso/lista">Cursos</button>
</mat-toolbar>

<div>
  <router-outlet></router-outlet>
</div>
