<h2>Editar Aluno: {{aluno.nome}}</h2>

<form class="formEditarAluno">
  <mat-form-field>
    <input matInput name="RA" type="text" placeholder="RA" [(ngModel)]="aluno.ra" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput name="Nome" type="text" placeholder="Nome" [(ngModel)]="aluno.nome" required>
    <button mat-button *ngIf="aluno.nome" matSuffix mat-icon-button aria-label="Clear" (click)="aluno.nome=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <input matInput name="RG" type="text" placeholder="RG" [(ngModel)]="aluno.rg" required>
    <button mat-button *ngIf="aluno.rg" matSuffix mat-icon-button aria-label="Clear" (click)="aluno.rg=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <input matInput name="CPF" type="text" placeholder="CPF" [(ngModel)]="aluno.cpf" required>
    <button mat-button *ngIf="aluno.cpf" matSuffix mat-icon-button aria-label="Clear" (click)="aluno.cpf=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <input matInput name="Endereco" type="text" placeholder="Endereço" [(ngModel)]="aluno.endereco" required>
    <button mat-button *ngIf="aluno.endereco" matSuffix mat-icon-button aria-label="Clear" (click)="aluno.endereco=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <input matInput name="Numero" type="number" placeholder="Numero" [(ngModel)]="aluno.numero" required>
    <button mat-button *ngIf="aluno.numero" matSuffix mat-icon-button aria-label="Clear" (click)="aluno.numero=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <input matInput name="Complemento" type="text" placeholder="Complemento" [(ngModel)]="aluno.complemento">
    <button mat-button *ngIf="aluno.complemento" matSuffix mat-icon-button aria-label="Clear" (click)="aluno.complemento=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <input matInput name="Bairro" type="text" placeholder="Bairro" [(ngModel)]="aluno.bairro" required>
    <button mat-button *ngIf="aluno.bairro" matSuffix mat-icon-button aria-label="Clear" (click)="aluno.bairro=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <input matInput name="Cidade" type="text" placeholder="Cidade" [(ngModel)]="aluno.cidade" required>
    <button mat-button *ngIf="aluno.cidade" matSuffix mat-icon-button aria-label="Clear" (click)="aluno.cidade=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-select name="Estado" placeholder="Estado" [(ngModel)]="aluno.estado" required>
      <mat-option *ngFor="let estado of estados" [value]="estado">
        {{estado}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput name="CEP" type="text" placeholder="Cep" [(ngModel)]="aluno.cep" required>
    <button mat-button *ngIf="aluno.cep" matSuffix mat-icon-button aria-label="Clear" (click)="aluno.cep=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <input matInput name="NumeroTelefone" type="text" placeholder="Telefone" [(ngModel)]="aluno.numeroTelefone">
    <button mat-button *ngIf="aluno.numeroTelefone" matSuffix mat-icon-button aria-label="Clear" (click)="aluno.numeroTelefone=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <input matInput name="NumeroCelular" type="text" placeholder="Celular" [(ngModel)]="aluno.numeroCelular">
    <button mat-button *ngIf="aluno.numeroCelular" matSuffix mat-icon-button aria-label="Clear" (click)="aluno.numeroCelular=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <input matInput name="Email" type="email" placeholder="Email" [(ngModel)]="aluno.email" [email]="true" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
    <button mat-button *ngIf="aluno.email" matSuffix mat-icon-button aria-label="Clear" (click)="aluno.email=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-select name="Curso" placeholder="Curso" [(ngModel)]="aluno.idCurso" required>
      <mat-option *ngFor="let curso of cursos" [value]="curso.id">
        {{curso.nome}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

<button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
<button mat-raised-button color="warn" (click)="excluir()">Excluir</button>
<button mat-raised-button routerLink="/aluno/lista">Voltar</button>